parameters:
	ignoreErrors:
		-
			message: "#^Unable to resolve the template type T in call to method static method Doctrine\\\\DBAL\\\\DriverManager\\:\\:getConnection\\(\\)$#"
			count: 1
			path: src/DevPro/Infrastructure/AbstractDevelopmentServiceContainer.php
