parameters:
	ignoreErrors:
		-
			message: "#^Unable to resolve the template type T in call to method static method Doctrine\\\\DBAL\\\\DriverManager\\:\\:getConnection\\(\\)$#"
			count: 1
			path: src/MeetupOrganizing/Infrastructure/AbstractDevelopmentServiceContainer.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: test/UseCases/SchedulingTest.php

